.header {
    background-color: var(--background-color-header);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    top: 0px;
    z-index: 1;
    position: sticky;
}


.logo {
    width: 120px;
    height: 45px;
    padding: 15px;
}

.container_boards {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 5px 0 0 15px;
    justify-content: left;
    flex-direction: column;
    align-items: start;
    background-color: var(--background-color);
    cursor: pointer;
}

.container_boards .title,
.favorite .title {
    padding-left: 10px;
    font-weight: 700;
    font-size: 18px;
    color: var(--color2);
}

.my_boards {
    display: flex;
    justify-content: start;
    flex-direction: row;

}

.boards,
.favorite,
.create_boards {
    width: 250px;
    height: 140px;
    margin: 10px 20px 10px 10px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background-color: var(--color1);
}

.create_boards {
    border: solid 0.1px rgba(0, 0, 0, 0.044);
    background-color: var(--color-avatar-circle);
}

.plus {
    font-size: 40px;
    color: var(--shadow);
}

.star {
    position: absolute;
    right: 10px;
    top: 10px;
    color: yellow;
}

.boards_name {
    width: 70%;
    background-color: var(--color1);
    border: none;
    text-align: center;
    outline: none;
    font-weight: 700;
    font-size: large;
    color: var(--background-color);
}

.boards_name::placeholder {
    font-weight: 700;
    font-size: large;
    color: var(--background-color);
    opacity: 1.5;
}