.main_board {
    margin: 10px;

}

.board_container {
    background-color: var(--color5);
    height: 78vh;
    padding: 10px;
}

.card {
    background-color: var(--color1);
    width: 250px;
    padding: 10px;
    border-radius: 10px;
}

.card_title {
    color: #fff;
    font-weight: 600;
    font-size: 12pt;
    margin: 0 5px;
}

.task {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.task_title {
    font-size: 10pt;
    font-weight: 500;
    margin: 0 5px;
    width: 200px;
}

.icons {
    color: var(--color-icons);
}