* {
    padding: 0px;
    margin: 0px;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.main_container {
    border-radius: 15px;
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #d9d9d9;
    padding: 10px;
}

.main_container .logo img {
    width: 150px;
    height: 50px;
}

.container_image img {
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.main_container .texto p {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    size: 20px;
}

.main_container .input_senha,
.main_container .input_email {
    position: relative;
}

.main_container .input_email .icone,
.main_container .input_senha .icone {
    position: absolute;
    color: #D4CACA;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.main_container .container_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_container .container_buttons button {
    width: 230px;
    height: 37px;
}

.main_container .container_account a {
    color: var(--color1);
    font-weight: 300;
    font-size: 12px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {

    main {
        flex-direction: column;
    }

    .container_image img {
        width: 200px;
        height: 190px;
    }

    .main_container {
        width: 270px;
        height: 100vh;
    }

    .main_container .logo img {
        width: 110px;
        height: 45px;
    }

    .main_container .texto p {
        font-size: 16px;
    }

    .main_container .container_buttons button {
        width: 190px;
        height: 32px;
    }

    .main_container .container_buttons button a {
        font-size: 14px;
    }

    .main_container .container_account a {
        font-size: 10px;
    }

    .main_container .input_email .icone,
    .main_container .input_senha .icone {
        top: 10px;
    }
}