main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.main_container {
    border-radius: 15px;
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #d9d9d9;
    padding: 10px;

}

.main_container .logo {
    width: 150px;
    height: 50px;
}

.container_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
}

.container_image img {
    width: 400px;
    height: 400px;
}


.main_container .texto {
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.main_container .container_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_container .container_buttons button {
    width: 230px;
    height: 35px;
    cursor: pointer;
}

.main_container .container_account {
    color: var(--color1);
    font-weight: 300;
    font-size: 12px;
    text-decoration: underline;
}

.login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backdrop-filter: blur(13.5px);
    z-index: 9999999;
}

.login > img{
    max-width: 300px;
}

@media screen and (max-width: 768px) {

    main {
        flex-direction: column;
        height: 97vh;
    }

    .container_image img {
        width: 200px;
        height: 200px;
    }

    .main_container {
        width: 290px;
        height: 350px;
        padding: 0px;

    }

    .main_container .logo {
        width: 100px;
        height: 35px;
    }

    .main_container .texto {
        font-size: 18px;
    }

    .main_container .container_buttons button {
        width: 190px;
        height: 28px;
        font-size: 14px;
    }

    .main_container .container_account {
        font-size: 10px;
    }
}