.boards {
    width: 250px;
    height: 140px;
    margin: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background-color: var(--color1);
}

.boards_name {
    font-weight: 700;
    font-size: large;
    color: var(--color-hover-login);

}