 .input_default,
 .input_error {
     width: 270px;
     height: 42px;
     outline: 0;
     font-family: "Poppins", sans-serif;
     border: 3px solid #D4CACA;
     padding-left: 20px;
     border-radius: 5px;

 }

 .input_error {
     border-color: red;
 }

 .input_password,
 .input_email,
 .input_name {
     position: relative;
 }

 .icone {
     position: absolute;
     color: #D4CACA;
     top: 15px;
     right: 15px;
     font-size: 16px;
     cursor: pointer;
 }

 .mensagem_erro {
     width: 250px;
     color: red;
     font-size: 12px;
     font-family: "Poppins", sans-serif;
     font-weight: 600;
 }

 @media screen and (max-width: 768px) {

     .input_default,
     .input_error {
         width: 230px;
         height: 30px;
     }

     .input_default::placeholder {
         font-size: 12px;
     }

     .main_container .mensagem_erro {
         font-size: 10px;
     }


 }