.default {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: var(--color1);
}

.default a {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}

.login {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: solid var(--color3) 2px;
    background-color: var(--background-color);
}

.login a {
    color: var(--color3);
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .default {
        width: 300px;
        height: 40px;
        border-radius: 20px;
        border: none;
        background-color: var(--color1);
    }
    
    .default a {
        color: #ffffff;
        font-weight: 600;
        font-size: 16px;
        text-decoration: none;
    }
    
    .login {
        width: 200px;
        height: 40px;
        border-radius: 20px;
        border: solid var(--color3) 2px;
        background-color: var(--background-color);
    }
    
    .login a {
        color: var(--color3);
        font-weight: 700;
        font-size: 16px;
        text-decoration: none;
    }
}