.container_image {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    padding: 20px;
}

.container_image > img {
    width: 80px; 
}

header {
    height: 70px;
    background-color: var(--background-color-header);
}

.header_container {
    display: flex;
    
}

@media screen and (min-width: 768px) {
    .container_image {
        display: flex;
        justify-content: flex-start;
        width: 100vw;
        padding: 20px;
    }
    
    .container_image > img {
        width: 100px; 
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        background-color: var(--background-color-header);
    }
}