main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

label {
    font-weight: 600;
    font-size: 12px;
}

p {
    font-size: 10px;
    color: var(--color-negative);
    width: 220px;
}

.form_container {
    padding: 220px 0 50px 0;
}

form {
    background-color: var(--background-color-navbar);
    padding: 20px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 260px;
}

.warning_container {
    display: flex;
    justify-content: space-around;
}

.container_button {
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
}