.main_container {
    position: absolute;
    top: calc(50vh - 250px);
    left: calc(50vw - 250px);
    height: 500px;
    width: 500px;
    z-index: 999;
    background-color: var(--background-color-header);
    padding: 20px;
    border: solid rgba(0, 0, 0, 0.266) 1px;
    border-radius: 5px;
}

.content_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.title_container {
    text-align: center;
}

.title {
    font-size: 18pt;
    margin: 0;
}

.subtitle {
    font-size: 12pt;
}

.message {
    margin: 0;
}

.plans_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 500px;
}

.plan {
    width: 200px;
    padding: 10px;
    text-align: center;
    border: solid rgba(0, 0, 0, 0.266) 1px;
    border-radius: 5px;
}

.limitations {
    font-size: 9pt;
    margin: 0;
    padding: 0;
}

.button {
    margin: 10px;
}

.limit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 0;
    list-style-type: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

.limit:last-child {
    border-bottom: none;
}